{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}
    <h1 class="h2 mb-5">{{ title|trans }}</h1>

    {% set output %}
        <div class="mt-5" style="min-height: 500px;">
            {% if chartError %}
                {% if not pivotTableError %}
                    <div class="alert alert-danger">
                        <h4 class="alert-heading">{{ 'Error'|trans }}</h4>
                        <p>{{ chartError|trans }}</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="mb-5">
                    {% if chart %}{{ render_chart(chart) }}{% endif %}
                </div>
            {% endif %}

            {% if pivotTableError %}
                <div class="alert alert-danger">
                    <h4 class="alert-heading">{{ 'An error occurred'|trans }}</h4>
                    <p>{{ pivotTableError|trans }}</p>
                </div>
            {% else %}
                <a download
                   target="_blank"
                   class="btn btn-secondary btn-sm float-end mb-2"
                   href="{{ path('download', {hash: hash, parameters: app.request.query.get('parameters') }) }}">Download</a>

                {% if expressions|length > 0 %}
                    <h5 class="">{{ 'Active criteria'|trans }}:</h5>
                    <ul>
                        {% for expression in expressions %}<li>{{ expression|raw }}</li>{% endfor %}
                    </ul>
                {% endif %}

                <div>{{ pivotTable|raw }}</div>
            {% endif %}
        </div>
    {% endset %}

    {{ analytics_render_control(query: query, output: output, target: 'pivottable', urlParameter: 'parameters') }}

    <turbo-frame id="pivottable">
    </turbo-frame>
{% endblock body %}
